In [15]:
# 1. Load Data and Basic Operations:
# o Load a CSV file into a DataFrame using Pandas.
import pandas as pd
df = pd.read_csv(r"D:\Python 2024\New Sem (02)\Numpy and Pandas\Actors.csv")
print(df)

     Actor Id            Actors  Movies  Rating     Rank     Hits  Google Rank
0         373        Aamir Khan      11    1170  9.44862  2460000      7.34283
1         374    Shah Rukh Khan      23    2000  7.55009  2670000      7.88458
2         375       Salman Khan      36    2340  5.40217  3490000     10.00000
3         376      Katrina Kaif      17    1640  8.48082  2120000      6.46570
4         377  Deepika Padukone      16    1080  5.64674  3000000      8.73591
..        ...               ...     ...     ...      ...      ...          ...
296       669       Achint Kaur       4      80  1.00000        0          NaN
297       670   Yuvika Chaudhry       5     100  1.00000        0          NaN
298       671      Pankaj Berry       5     100  1.00000        0          NaN
299       672      Varun Dhawan       0       0      NaN        0          NaN
300       673     Nargis Fakhri       0       0      NaN        0          NaN

[301 rows x 7 columns]

In [11]:
# o Display the first 5 rows of the DataFrame.
print(df.head())

   Actor Id            Actors  Movies  Rating     Rank     Hits  Google Rank
0       373        Aamir Khan      11    1170  9.44862  2460000      7.34283
1       374    Shah Rukh Khan      23    2000  7.55009  2670000      7.88458
2       375       Salman Khan      36    2340  5.40217  3490000     10.00000
3       376      Katrina Kaif      17    1640  8.48082  2120000      6.46570
4       377  Deepika Padukone      16    1080  5.64674  3000000      8.73591

In [14]:
# o Display the column names of the DataFrame.
print(df.columns)

Index(['Actor Id', 'Actors', 'Movies', 'Rating', 'Rank', 'Hits',
       'Google Rank'],
      dtype='object')

In [13]:
# o Check the shape of the DataFrame (number of rows and columns).
print(df.shape)

(301, 7)

In [12]:
# o Find the data types of each column in the DataFrame.
print(df.dtypes)

Actor Id         int64
Actors          object
Movies           int64
Rating           int64
Rank           float64
Hits             int64
Google Rank    float64
dtype: object

In [29]:
# 2. Data Selection and Filtering:
# o Select a single column from the DataFrame.
print(df['Actors'])

0            Aamir Khan
1        Shah Rukh Khan
2           Salman Khan
3          Katrina Kaif
4      Deepika Padukone
             ...
296         Achint Kaur
297     Yuvika Chaudhry
298        Pankaj Berry
299        Varun Dhawan
300       Nargis Fakhri
Name: Actors, Length: 301, dtype: object

In [26]:
# o Select multiple columns from the DataFrame.
print(df[['Actors','Movies']])

               Actors  Movies
0          Aamir Khan      11
1      Shah Rukh Khan      23
2         Salman Khan      36
3        Katrina Kaif      17
4    Deepika Padukone      16
..                ...     ...
296       Achint Kaur       4
297   Yuvika Chaudhry       5
298      Pankaj Berry       5
299      Varun Dhawan       0
300     Nargis Fakhri       0

[301 rows x 2 columns]

In [28]:
# o Filter rows based on a condition (e.g., select rows where a certain column value is 
# greater than 100).
print(df[df['Actor Id']>600])

     Actor Id           Actors  Movies  Rating     Rank   Hits  Google Rank
228       601       Sahil Khan       5     160  2.17391      0          NaN
229       602        Yash Tonk       5     160  2.17391      0          NaN
230       603       Ishrat Ali       5     100  1.00000  68100      1.17225
231       604    Milind Gunaji      10     200  1.00000  24300      1.05926
232       605     Sudesh Berry       6     120  1.00000  16100      1.03810
..        ...              ...     ...     ...      ...    ...          ...
296       669      Achint Kaur       4      80  1.00000      0          NaN
297       670  Yuvika Chaudhry       5     100  1.00000      0          NaN
298       671     Pankaj Berry       5     100  1.00000      0          NaN
299       672     Varun Dhawan       0       0      NaN      0          NaN
300       673    Nargis Fakhri       0       0      NaN      0          NaN

[73 rows x 7 columns]

In [31]:
# o Apply multiple filters on the DataFrame and display the result.
print(df[(df['Actor Id'] > 600) & (df['Movies'] == 5)])

     Actor Id             Actors  Movies  Rating     Rank   Hits  Google Rank
228       601         Sahil Khan       5     160  2.17391      0          NaN
229       602          Yash Tonk       5     160  2.17391      0          NaN
230       603         Ishrat Ali       5     100  1.00000  68100      1.17225
237       610         Kader Khan       5     150  1.97826      0          NaN
241       614  Himesh Reshammiya       5     150  1.97826      0          NaN
244       617        Purab Kohli       5     150  1.97826      0          NaN
245       618           Ila Arun       5     140  1.78261      0          NaN
246       619         Ram Kapoor       5     140  1.78261      0          NaN
247       620        Manoj Joshi       5     140  1.78261      0          NaN
248       621   Preeti Jhangiani       5     140  1.78261      0          NaN
249       622     Jacky Bhagnani       5     140  1.78261      0          NaN
251       624        Neha Sharma       5     130  1.58696      0          NaN
260       633        Vatsal Seth       5     120  1.39130      0          NaN
261       634  Suman Ranganathan       5     120  1.39130      0          NaN
262       635      Javed Jaffrey       5     120  1.39130      0          NaN
263       636       Mukesh Bhatt       5     120  1.39130      0          NaN
272       645        Kiran Kumar       5     110  1.19565      0          NaN
273       646      Chunky Pandey       5     110  1.19565      0          NaN
274       647       Mandira Bedi       5     110  1.19565      0          NaN
275       648  Makrand Deshpande       5     110  1.19565      0          NaN
276       649  Aditya Srivastava       5     110  1.19565      0          NaN
277       650     Nauheed Cyrusi       5     100  1.00000      0          NaN
283       656     Nagesh Bhonsle       5     100  1.00000      0          NaN
284       657    Shweta Bhardwaj       5     100  1.00000      0          NaN
288       661       Hazel Croney       5     100  1.00000      0          NaN
297       670    Yuvika Chaudhry       5     100  1.00000      0          NaN
298       671       Pankaj Berry       5     100  1.00000      0          NaN