In [2]:
import pandas as pd
# format of Series :- pandas.Series(data,index,dtype)

data = pd.Series(['Arjit','Ayush','Apransh','Aman','Kamal'],[1,2,3,4,5])
print(data)

1      Arjit
2      Ayush
3    Apransh
4       Aman
5      Kamal
dtype: object

In [5]:
# Custom indexing
data.index = ['1}','2}','3}','4.','5.']
print(data)

1}      Arjit
2}      Ayush
3}    Apransh
4.       Aman
5.      Kamal
dtype: object

In [10]:
# Format of DataFrame :- pandas.DataFrame(data,index,columns,dtype)
# Examples:- 
import pandas as pd
data = ['a','b','c','d','e']
df = pd.DataFrame(data)
print(df)

# 0 is for column number, since here is only one column therefore the number is 0

   0
0  a
1  b
2  c
3  d
4  e

In [12]:
# Example 2

import pandas as pd

data = [['Arjit',10],['Aman',11],['Ayush',12]]
df = pd.DataFrame(data,columns=['Name','Age'],index=['1}','2}','3}'])
print(df)

     Name  Age
1}  Arjit   10
2}   Aman   11
3}  Ayush   12

In [14]:
# in the form of Dictionary (jason data)

import pandas as pd

data = {'Name':['Arjit','Ayush','Aman','Apransh'],'Age':[11,12,13,14]}
df = pd.DataFrame(data,index= ['1}','2}','3}','4}'])
print(df)

       Name  Age
1}    Arjit   11
2}    Ayush   12
3}     Aman   13
4}  Apransh   14

In [1]:
# Pandas (offer data structures and operations for manipulating Numeric )
import pandas as pd

series = pd.Series([11,12,13,14,15.5],index = list('abcde'))
print(series)

a    11.0
b    12.0
c    13.0
d    14.0
e    15.5
dtype: float64

In [2]:
df = pd.DataFrame([('Apransh',10),('Arjit',20),('Ayush',15)])
print(df)

         0   1
0  Apransh  10
1    Arjit  20
2    Ayush  15

In [8]:
# to give column names:-
df = pd.DataFrame([('Apransh',10),('Arjit',20),('Ayush',15)], columns=['Name','Marks'])
print(df)

      Name  Marks
0  Apransh     10
1    Arjit     20
2    Ayush     15

In [9]:
# CSV:- format - file address inside the brackets with r or //
data = pd.read_csv(r"C:\Users\ARJIT SHARMA\OneDrive\Desktop\Hello.csv")
print(data)

# to display less data :- use head
# to display only one column(film) & (directors) as series from csv file 
data1 = data['film','Directors']  
print(data1,type(data1))


# to get any column ('Rank') as custom index :- 
data = pd.read_csv(r"C:\Users\ARJIT SHARMA\OneDrive\Desktop\Hello.csv" , index_col=['Rank'] )

Empty DataFrame
Columns: [hello i am arjit sharma ]
Index: []

In [ ]:
# If we want rank with no. 1 along with its one column data (suppose 'Film' at rank (1))
data.loc[1,'Film']

# if we give any column which is not in our csv file it will give KEY ERROR

# to get data from 1 to 3 even if it is unordered 
data.loc[1:3,'Film']

# to get 2 coulmn along with all the data
data.loc[:,['Film','Directors']]

# it works on true/false :
data.loc[:, [True,False,False,False,]]

# to get only year greater than 2016 along with all data  through pandas 
data.loc[data['Year'] > 2016, :]

# to get only year greater than 2016 along with all data  through pandas 
data.loc[data['Year'] > 2016, ['Film', 'Producer', 'Year']]

In [11]:

# to get the same through numpy
import numpy as np
ar = np.array([1,2,3,4,5,76,7])
print(ar + 2)

[ 3  4  5  6  7 78  9]

In [5]:
# create dataframe:-
import pandas as pd
path = r"C:\Users\ARJIT SHARMA\OneDrive\Desktop\Hello.csv"
ar = pd.read_csv(path)
print(ar)

Empty DataFrame
Columns: [hello i am arjit sharma ]
Index: []

In [8]:
st = [3,5]
print(type(st))

data = r"C:\Users\ARJIT SHARMA\OneDrive\Desktop\Hello.csv"
data.loc['a' : 'z' ,'Name' ]   # z is included and if there is no z than it will run till the end of the data 
# here a and z are the rows and name is the column 

data.loc['a','name':'marks'] # this shows first row along with column name and marks

<class 'list'>

AttributeError: 'str' object has no attribute 'loc'

In [9]:
# Boolean Indexing 

data.loc[[True,False,True], [True,False]]

AttributeError: 'str' object has no attribute 'loc'

In [31]:
import pandas as pd

# Correct file path
dat = r"C:\Users\ARJIT SHARMA\OneDrive\Desktop\Hello.csv"

# Read the CSV file directly into a DataFrame
data = pd.read_csv(dat)

# Filter the data
filtered_data = data.loc[(data['Marks'] < 26) & (data['Marks'] > 23), ['Name', 'Marks']]
print(filtered_data)

      Name  Marks
0   Arjit      25
1  Apransh     24

In [16]:
# shows the number of rows present :-
print(len(data))

4

In [32]:
for i in data.iterrows():
    print(i[1],type(i[1]))

Name     Arjit
Marks        25
Name: 0, dtype: object <class 'pandas.core.series.Series'>
Name     Apransh
Marks         24
Name: 1, dtype: object <class 'pandas.core.series.Series'>
Name     Ayush
Marks       23
Name: 2, dtype: object <class 'pandas.core.series.Series'>
Name     Bhaskar
Marks         11
Name: 3, dtype: object <class 'pandas.core.series.Series'>

In [33]:
for index,data in data.iterrows():
    print(i)

(3, Name     Bhaskar
Marks         11
Name: 3, dtype: object)
(3, Name     Bhaskar
Marks         11
Name: 3, dtype: object)
(3, Name     Bhaskar
Marks         11
Name: 3, dtype: object)
(3, Name     Bhaskar
Marks         11
Name: 3, dtype: object)